
.my-portfolio-menu{
  padding-right: 30px;

  &:first-child {
    padding-right: 17px;
  }
}
.font-size-portfolio{
  font-size: 30px;
  color:  #353942;
}
.trade {
  border-radius: 2.66px;

  .card-body {
    padding-left: 21.33px !important;
    padding-right: 25.33px !important;
    border: 1px #e0e0e0;

    .menu-portfolio {
      width: 100%;

      .menu-portfolio > ul {
        width: 100%;

        li{
          width: 62px !important;
        }
      }
    }
  }

  .buttons {
    padding-left: 21.33px !important;
    padding-right: 25.33px !important;

    .col {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  button {
    cursor: pointer;
    width: 100%;
    height: 30px;
    border-radius: 2.66px;
  }

  .form-group.row{
    align-items: center;
    margin-right: 300px;
  }
}

.portfolio-content {
  .balances-content {
    border-bottom: 2px solid #E0E0E0;
    .item {
      padding-right: 74px;
    }
  }
}

.button-trade-with {
  background-color: white;
  color: rgb(16,42,85);

}
.button-order-trade {
  background-color: rgb(16,42,85);
  color: white;
  border-color: #e0e0e0;
  border: 1px solid;
}
.color-watchlist {
  background-color: #fff;
}
.call-menu-color {
  color: #353942;
}

#topnav .navigation-menu > li > a i {
  display: inline;
}

.color-principal-menu {
  color: #353942;
}
.label-text {
  color: #bec1c6;
}
.row-filters {
  position: absolute;
  margin-left: 70px;
}

.menu-my-portfolio-color {
  color: #6d757d;
  font-size: 13px;

  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.portfolio-title {
  a {
    font-size: 15px;
  }
}

.position-order {
  table {
    th, td {
      border: none !important;
      padding-left: 0 !important;
    }

    th {
      font-size: $base-font;
      font-weight: normal;
    }

    tbody {
      tr {
        border-bottom: 1px solid #e0e0e0;
      }
    }

    td {
      color: #040D14 !important;
      padding-bottom: 5px !important;

      &.symbol-name {
        color: #102A55 !important;
        font-weight: bold;
        font-size: $base-font;

        .price {
          font-weight: normal;
          color: #040D14 !important;
        }
      }

      &.green, &.red {
        font-weight: bold;
      }
    }

    thead {
      border-bottom: 2px solid #e0e0e0;
    }

    span {
      display: block !important;
    }
  }
}

#trending-sector {
  .card-body {
    padding: 10px;

    .header-title {
      font-size: 15px;
      color: #6D757D;
      text-align: right;
    }
  }

  table {
    td {
      border: none;
    }
  }
}

#position-order-tab {
  border-color: transparent !important;
}

.button-my-portfolio {
  color: #102a55;
  background-color: #fff;
  font-size: 13px !important;
  width: 81px;
  height: 33px;
  border-color: #102A55;
}
.sub-menu-portfolio {
  display: inline;
  padding-bottom: 13px;

  &:hover {
    background: none;
    border-bottom: 2px solid #102a55;
    color: #585c63;
  }

}
.sub-menu-portfolio-color {
  color: #585c63;
}
.margin-sub-menu-portfolio {
  margin-left: 44px;

}

.sub-menu-trade-color {
  color: #585c63;
}
.text-trade {
  color: #585c63;
  text-align: center;
}
.button-trade-order-blue {
  margin-top: 21px;
  color:  #102a55;
  background-color: white;
  height: 30px !important;

}
.line-bottom {
  border-bottom: 1px solid #e0e0e0!important;
  border-top: 1px solid #e0e0e0!important;
}
.line-bottom-dark {
  border-bottom: 1px solid #000 !important;
  border-top: 1px solid #000 !important;
}
.button-display-color {
  border: none;
  color:  white;
  background-color: #102a55;
  border-radius: 5px;
}
.button-display-color-dark {
  border: none;
  color:  #000;
  background-color: #ff7d39;
  border-radius: 5px;
}

.margin-dropdown {
  margin-top: -20px;
}
.green {
  color: #1fa764;
}
.red {
  color: #ed5454;
}
.menu-color {
  color: #000;
}
.title-graph {
  color: #353942;
}
.float-center {
  display: flex;
  justify-content: center;
}
.line-separate {
  margin-bottom: -15px;
}

.padding-watchlist {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}


#session-timeout-dialog .modal-title {
  margin-top: 0;
}

#session-timeout-dialog .close {
  display: none;
}

#session-timeout-dialog .btn-default {
  background-color: #ffffff;
  color: #ec536c;
}

#session-timeout-dialog .countdown-holder {
  color: #ec536c;
  font-weight: 700;
}

#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}

@media (min-width: 1896px) {
  .area-graph{
    height: 95px !important;
    width: 170px !important;
  }
  .input-width {
    width: 19.2vw;
    padding-left: 18px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e0e0e0;
    background-color: #f6f7f9;

  }
  .line-separate-graph{
    border-right: 1px solid;
    display: inline-block !important;
    margin-right: 30px !important;
    color: #e0e0e0;
  }
  .line-separate-graph-dark {
    color: #000 !important;
  }

  .form-distance{
    margin-right: 200px !important;
  }
  .margin-graph{
    margin-right: 40px;
    margin-top: -15px;
  }
  .sub-menu-trade{
    display: inline-block;
    padding-bottom: 13px;
    margin-right: 35px;
    margin-left: -17px;
  }
  .principal-menu-distance{
    margin-right: 4%;
  }

}

@media (min-width: 1675px) and (max-width: 1895px){
  .area-graph{
    height: 95px !important;
    width: 170px !important;
  }
  .input-width {
    width: 17vw;
    padding-left: 18px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e0e0e0;
    background-color: #f6f7f9;

  }
  .line-separate-graph{
    border-right: 1px solid;
    display: inline-block !important;
    margin-right: 30px !important;
    color: #e0e0e0;
  }
  .line-separate-graph-dark {
    color: #000 !important;
  }

  .form-distance{
    margin-right: 200px !important;
  }
  .margin-graph{
    margin-right: 40px;
    margin-top: -15px;
  }
  .sub-menu-trade{
    display: inline-block;
    padding-bottom: 13px;
    margin-right: 35px;
    margin-left: -17px;
  }

  .principal-menu-distance{
    margin-right: 3%;
  }

}

@media  (min-width: 1450px) and (max-width: 1674px) {

  .input-width {
    width: 15vw;
    padding-left: 18px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e0e0e0;
    background-color: #f6f7f9;

  }

  .form-distance{
    margin-right: 200px !important;
  }
  .area-graph{
    height: 106px !important;
    width: 170px !important;
  }
  .line-separate-graph{
    border-right: 1px solid;
    display: inline-block;
    margin-right: 30px;
    color: #e0e0e0;
  }
  .line-separate-graph-dark {
    color: #000 !important;
  }
  .margin-graph{
    margin-right: 10px;
    margin-top: -15px;
  }
  .sub-menu-trade{
    display: inline-block;
    padding-bottom: 13px;
    margin-right: 25px;
    margin-left: -17px;
  }
  .principal-menu-distance{
    margin-right: 1.8%;
  }


}

@media (min-width: 1200px) and (max-width: 1449px){
  .area-graph{
    height: 106px !important;
    width: 170px !important;
  }
  .sub-menu-trade{
    display: inline-block;
    padding-bottom: 13px;
    margin-right: 25px;
    margin-left: -17px;
  }
  .input-width {
    width: 15vw;
    padding-left: 18px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e0e0e0;
    background-color: #f6f7f9;
  }

  .form-distance{
    margin-right: 300px;
  }
  .line-separate-graph{
    border-right: 1px solid;
    margin-right: 10px;
    color: #e0e0e0;
  }
  .margin-graph{
    float: right;
    display: block;
    padding-right: 15px;
    padding-left: 50px;
    margin-top: -15px;
  }
  .margin-first-graph{
    float: right;
    display: block;
    padding-right: 10px;
    padding-left: 15px;
  }
  .form-distance{
    margin-right: 70px;
  }

  .principal-menu-distance{
    margin-right: 1.2%;
  }

}

@media (min-width: 992px) and (max-width:1199px)  {
  .area-graph {
    height: 106px !important;
    width: 130px !important;
    margin-right: 10px;
  }
  .input-width {
    width: 19vw;
    padding-left: 18px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e0e0e0;
    background-color: #f6f7f9;
  }
}

@media (min-width: 992px){

  .margin-first-graph{
    float: right;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  .margin-graph{
    float: right;
    display: block;
    padding-right: 15px;
  }

  .line-separate-graph{
    display: inline-block;
    margin-right: 5px;
  }

  .margin-menu-call{
    margin-right: 72px;
  }
  .margin-call-components{
    margin-right: 10px;
  }
  #topnav .navigation-menu > li.last-elements .submenu {
    left: auto;
    right: 0;
    cursor: pointer;
  }
  #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
  }
  #topnav .navigation-menu > li:hover a {
    color: #7a6fbe;
  }
  #topnav .navigation-menu > li:hover a i {
    color: #000;
  }
  #topnav .navigation-menu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff;
    -webkit-box-shadow: 0 17px 34px 0 rgba(0, 0, 0, 0.05), 0 8px 14px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 17px 34px 0 rgba(0, 0, 0, 0.05), 0 8px 14px 0 rgba(0, 0, 0, 0.02);
  }
  #topnav .navigation-menu > li .submenu.megamenu {
    white-space: nowrap;
    width: auto;
  }
  #topnav .navigation-menu > li .submenu.megamenu > li {
    overflow: hidden;
    width: 200px;
    display: inline-block;
    vertical-align: top;
  }
  #topnav .navigation-menu > li .submenu > li.has-submenu > a:after {
    content: "\56";
    font-family: "dripicons-v2";
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 15px;
  }
  #topnav .navigation-menu > li .submenu > li .submenu {
    left: 100%;
    top: 0;
    margin-top: 10px;
  }
  #topnav .navigation-menu > li .submenu li {
    position: relative;
  }
  #topnav .navigation-menu > li .submenu li ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 8px 25px;
    clear: both;
    white-space: nowrap;
    font-size: 13px;
    color: #3e4861;
    margin-bottom: 2px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  }
  #topnav .navigation-menu > li .submenu li a:hover {
    color: #7a6fbe;
  }
  #topnav .navbar-toggle {
    display: none;
  }
  #topnav #navigation {
    display: block;
  }
}
