/* ==============
  Pagination
===================*/
.page-link {
    color: $gray-900;
    border-radius: 50%;
    border: 0;
    background-color: inherit;
  }
  .page-item.active .page-link {
    background-color: $blueberry;
    border-color: $blueberry;
  }
  .page-link:focus, .page-link:hover {
    color: $dark;
    background-color: inherit;
    border: 0;
  }
